[mysqld]

# Accept connections from all services, necessary for wordress
bind-address = 0.0.0.0

# Port to listen on
port = 3306

# User that runs the mysqld process
user = mysql

# Data directory
datadir = /var/lib/mysql
